img {
  width: 720px;
  height: 400px;
}

.col-sm-2,
.col-sm-12,
img {
  border-radius: 10px;
}

.col-sm-8,
.card,
.card-body,
.card_content {
  border-radius: 10px;
}
.col-sm-8{
  margin-left: 60px;
}
.card_content {
  display: none;
}
#footer {
  position: fixed;
  bottom: 0;
  right: 10px;
}
.result_description:hover {
  box-shadow: 0 0 20px #4c99c5;
  transform: scale(1.01);
}
.result_img {
  width: 200px;
  height: 150px;
  border: none;
}
.imgDiv {
  border: none;
}
.unfavoritePlace {
  display: none;
}
.btn {
  line-height: 0;
}

@media only screen and (min-width: 300px) {
  html {
    max-height: 100%;
  }
  img {
    max-width: 100%;
    max-height: 20%;
  }
  .col-sm-8 {
    margin-left: 0;
  }
  .btn{
    line-height: 20px;
  }
}
